.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App span {
  margin: 10px;
}


.appSignup {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: #4285F4;
  border-color: transparent;
}

.appSignup:hover {
  background-color: aliceblue;
  border-color: #4285F4;
  color: #4285F4;
  transition: 0.2s linear;
}
